    <header>
      <ul>
        <li>FAQs</li>
        <li>Over ons</li>
        <li>Contact</li>
      </ul>
    </header>

    <nav>
      <img src="/assets/logo-white.BRllZ9aS.svg">
      <ul>
        <li><a href="/">Home</a></li>
        <li>Over Ad's</li>
        <li>Publicaties</li>
        <li>Talent Award</li>
        <li>Nieuws</li>
        <a class="button">Kom naar Ad-dag</a>
      </ul>
    </nav>