<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AdConnect</title>
    <link rel="stylesheet" href="/style/style.css">
  </head>
  <body>
    <header>
      <ul>
        <li>FAQs</li>
        <li>Over ons</li>
        <li>Contact</li>
      </ul>
    </header>

     <nav>
        <img src="/assets/logo-white.BRllZ9aS.svg">
      <ul>
        <li>Home</li>
        <li>Over Ad's</li>
        <li>Publicaties</li>
        <li>Talent Award</li>
        <li>Nieuws</li>
        <a class="button">Kom naar Ad-dag</a>
      </ul>
    </nav>

  </body>
</html>
