<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AdConnect</title>
    <link rel="stylesheet" href="/style/style.css">
  </head>
  <body>
    <header>
      <ul>
        <li>FAQs</li>
        <li>Over ons</li>
        <li>Contact</li>
      </ul>
    </header>

    <nav>
      <img src="/assets/logo-white.BRllZ9aS.svg">
      <ul>
        <li>Home</li>
        <li>Over Ad's</li>
        <li>Publicaties</li>
        <li>Talent Award</li>
        <li>Nieuws</li>
        <a class="button">Kom naar Ad-dag</a>
      </ul>
    </nav>

    <section class="heroTalentAward">
      <div class="heroContainer">
        <div class="slug">Home \ Talent Award</div>

        <h1>Ad Talent Award</h1>
        <p>
          Jaarlijks reikt het Overlegplatform de Ad Talent Award uit aan twee Associate degree-talenten, die worden
          benoemd tot landelijke Ad-ambassadeurs. Alle aangesloten hogescholen kunnen een Ad-talent nomineren. De
          winnaars ontvangen de award tijdens de jaarlijkse Ad-dag en vertegenwoordigen het Ad-onderwijs in Nederland.
        </p>
        <a class="button">Lees meer</a>
      </div>
      <img src="/assets/ad-talent-awards.Ddt_57AT.jpg">
    </section>

    <section class="intro">
      <div class="introTekst">
        <img src="/assets/blobs.svg">
        <h2>Wat is Ad Talent award?</h2>
        <p>
          De Ad Talent Award is een jaarlijkse onderscheiding die door het Overlegplatform Associate degrees wordt
          uitgereikt. Elke aangesloten hogeschool kan één student nomineren als “Ad Talent” en van alle genomineerden
          worden er twee landelijk uitgeroepen tot Ad-ambassadeur. Deze erkenning vindt plaats tijdens de jaarlijkse
          Ad-dag.
        </p>
      </div>
    </section>
  </body>
</html>
