<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AdConnect</title>
    <link rel="stylesheet" href="/style/style.css">
  </head>
  <body>
    <header>
      <ul>
        <li>FAQs</li>
        <li>Over ons</li>
        <li>Contact</li>
      </ul>
    </header>
  </body>
</html>
