<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AdConnect</title>
    <link rel="stylesheet" href="/style/style.css">
  </head>
  <body>
    <header>
      <ul>
        <li>FAQs</li>
        <li>Over ons</li>
        <li>Contact</li>
      </ul>
    </header>

    <nav>
      <img src="/assets/logo-white.BRllZ9aS.svg">
      <ul>
        <li>Home</li>
        <li>Over Ad's</li>
        <li>Publicaties</li>
        <li>Talent Award</li>
        <li>Nieuws</li>
        <a class="button">Kom naar Ad-dag</a>
      </ul>
    </nav>

    <section class="heroTalentAward">
      <div class="heroContainer">
        <div class="slug">Home \ Talent Award</div>

        <h1>Ad Talent Award</h1>
        <p>
          Jaarlijks reikt het Overlegplatform de Ad Talent Award uit aan twee Associate degree-talenten, die worden
          benoemd tot landelijke Ad-ambassadeurs. Alle aangesloten hogescholen kunnen een Ad-talent nomineren. De
          winnaars ontvangen de award tijdens de jaarlijkse Ad-dag en vertegenwoordigen het Ad-onderwijs in Nederland.
        </p>
        <a class="button">Lees meer</a>
      </div>
      <img src="/assets/ad-talent-awards.Ddt_57AT.jpg">
    </section>

    <section class="intro">
      <div class="introTekst">
        <img src="/assets/blobs.svg">
        <h2>Wat is Ad Talent award?</h2>
        <p>
          De Ad Talent Award is een jaarlijkse onderscheiding die door het Overlegplatform Associate degrees wordt
          uitgereikt. Elke aangesloten hogeschool kan één student nomineren als “Ad Talent” en van alle genomineerden
          worden er twee landelijk uitgeroepen tot Ad-ambassadeur. Deze erkenning vindt plaats tijdens de jaarlijkse
          Ad-dag.
        </p>
      </div>

      <div class="introCardsContainer">
        <div class="introCards">
          <img src="/assets/blobs.svg">
          <h2>Wat maakt iemand tot een Ad Talent?</h2>
          <p>
            Een Ad Talent is een student die uitblinkt in zijn of haar Associate degree-opleiding. Dit kan blijken uit
            academische prestaties, leiderschap, betrokkenheid bij de gemeenschap, innovatie of andere opmerkelijke
            bijdragen aan de hogeschool en de bredere samenleving. Ad Talenten worden erkend voor hun inzet, passie en
            potentieel om een positieve impact te maken in hun vakgebied en daarbuiten.
          </p>
        </div>

        <div class="introCards">
          <img src="/assets/blobs-wit.svg">
          <h2>Waarom de Ad Talent Award?</h2>
          <p>
            De Ad Talent Award is opgericht om de uitmuntendheid en het potentieel van Associate degree-studenten te
            erkennen en te vieren. Door deze onderscheiding willen we niet alleen de prestaties van individuele
            studenten benadrukken, maar ook het belang van Ad-onderwijs in Nederland onderstrepen. De award dient als
            inspiratie voor andere studenten en draagt bij aan het versterken van de reputatie van Associate degrees als
            waardevolle en impactvolle opleidingsvorm.
          </p>
        </div>

        <div class="introCards">
          <img src="/assets/blobs.svg">
          <h2>Wat maakt iemand tot een Ad Talent?</h2>
          <p>
            Een Ad Talent is een student die uitblinkt in zijn of haar Associate degree-opleiding. Dit kan blijken uit
            academische prestaties, leiderschap, betrokkenheid bij de gemeenschap, innovatie of andere opmerkelijke
            bijdragen aan de hogeschool en de bredere samenleving. Ad Talenten worden erkend voor hun inzet, passie en
            potentieel om een positieve impact te maken in hun vakgebied en daarbuiten.
          </p>
        </div>
      </div>
    </section>
  </body>
</html>
