<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AdConnect - Talent Award</title>
    <link rel="stylesheet" href="/style/nominee.css">
  </head>
  <body>
    {% include 'partials/header.liquid' %}

    <section class="heroTalentAward">
      <div class="heroContainer">
        <div class="slug">Home \ Talent Award \ {{ apiResponse.title | json | replace: '"', '' }}</div>

        <h1>Ad Talent Award</h1>
        <p>
          Jaarlijks reikt het Overlegplatform de Ad Talent Award uit aan twee Associate degree-talenten, die worden
          benoemd tot landelijke Ad-ambassadeurs. Alle aangesloten hogescholen kunnen een Ad-talent nomineren. De
          winnaars ontvangen de award tijdens de jaarlijkse Ad-dag en vertegenwoordigen het Ad-onderwijs in Nederland.
        </p>
      <img src="/assets/ad-talent-awards.Ddt_57AT.jpg">
    </section>

  </body>
</html>
