<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AdConnect - opleidingsprofielen</title>
    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="/style/opleidingsprofielen.css">
  </head>
  <body>
    {% include 'partials/header.liquid' %}

    <section class="heroProfielen">
      <div class="heroContainer">
        <div class="profielenInfo">
          <div class="slug">Home \ Opleidingsprofielen</div>
          <h1>Procedure vaststellen Landelijke Ad-profielen</h1>
          <p>
            De Ad-opleidingen verenigd in een Landelijk Ad-overleg (LAdO) kunnen besluiten om een Landelijk
            Ad-opleidingsprofiel of een Landelijk Ad-domeinprofiel te ontwikkelen. De Algemene Ledenvergadering van
            Vereniging Hogescholen heeft in 2019 een procedure en een handreiking vastgesteld om tot een Landelijk
            domein of opleidingsprofiel voor de Ad te komen, zie Handreiking VH beoordeling profielen Ad opleidingen
            2019. Om een landelijk profiel op te laten nemen in de profielenbank van Vereniging Hogescholen worden de
            volgende stappen doorlopen.
          </p>
        </div>
      </div>
    </section>

    <article class="profielenStappen">
      <ol>
        <li>
          Het LAdO gaat na welke eisen er aan een landelijke profiel gesteld worden vanuit het sectoraal adviescollege
          waaronder de opleiding (of de opleidingen) valt en vanuit het Overlegplatform Associate degrees. Dit zijn de
          beoordelingscriteria voor het landelijk Ad-profiel vanuit het platform. NB: Voor Ad-profielen die onder het
          sectoraal adviescollege heo (economie) vallen, wordt verwezen naar de beoordelingscriteria van het
          heo-Ad-profiel op de website van Vereniging Hogescholen.
        </li>
        <li>
          Het LAdO informeert de secretaris van (zie Vereniging Hogescholen) en het Overlegplatform Associate degrees
          (zie Ad-profielen) over het voornemen en de planning om een Landelijk Ad-profiel op te stellen.
        </li>
        <li>Het LAdO ontwikkelt een Landelijk Ad-profiel met stakeholders uit werkveld en onderwijs.</li>
        <li>
          De voorzitter van het LAdO dient het Landelijk Ad-profiel in bij de contactpersoon Mariëtte Muris van het
          Overlegplatform Associate degrees.
        </li>
        <li>
          De adviescommissie van het Overlegplatform Associate degrees geeft een advies op basis van de
          beoordelingscriteria. De contactpersoon van het platform koppelt dit terug naar de voorzitter van het LAdO.
        </li>
        <li>
          Het LAdO verwerkt de feedback van de adviescommissie in het Landelijk Ad-profiel en verantwoordt in het
          adviesdocument van het platform wat met de feedback is gedaan. Het profiel en de verantwoording wordt naar de
          contactpersoon van het platform gestuurd.
        </li>
        <li>
          Het LAdO vraagt het sectoraal adviescollege – via de secretaris – om het Landelijk Ad-profiel te bespreken.
        </li>
        <li>
          Bij een positief advies van het sectoraal adviescollege wordt het Landelijk Ad-profiel vastgesteld door het
          bestuur van Vereniging Hogescholen en opgenomen in de profielenbank.
        </li>
      </ol>
    </article>

    <article class="profielenBank">
      <div class="divider">
        <hr>
        <h2>Landelijke Ad-profielen vastgesteld door Vereniging Hogescholen</h2>
        <hr>
      </div>

      <div class="profielenContainer">
        <p>
          De onderstaande Landelijke Ad-profielen zijn opgenomen in de profielenbank van Vereniging Hogescholen, zie:
          https://www.vereniginghogescholen.nl/profielenbank en vervolgpagina’s. Als Ad-opleidingen opgenomen zijn in
          het landelijk opleidingsprofiel of domeinprofiel van bachelors, dan is dit profiel vermeld bij de
          opleidingsnaam van deze Ad’s in de profielenbank.
        </p>

        <div class="profielen" role="region" tabindex="0">
          <table>
            <thead></thead>
            <tbody>
              <tr>
                <td>Ad Business Administration</td>
                <td>Domeinprofiel Management in de Zorg</td>
              </tr>
              <tr>
                <td>Ad Commerce</td>
                <td>Ad Ondernemen</td>
              </tr>
              <tr>
                <td>Domeinprofielen Ad cluster Creatieve Industrie</td>
                <td>Ad Pedagogisch Educatief Professional</td>
              </tr>
              <tr>
                <td>Ad Ervaringsdeskundige in Zorg en Welzijn</td>
                <td>Ad Sociaal Financiële Dienstverlening</td>
              </tr>
              <tr>
                <td>Domeinprofiel Ad Events</td>
                <td>Ad Sociaal Werk</td>
              </tr>
              <tr>
                <td>Ad Finance</td>
                <td>Ad Sport</td>
              </tr>
              <tr>
                <td>Ad Human Resource Management</td>
                <td>Ad Technische Bedrijfskunde</td>
              </tr>
              <tr>
                <td>Ad Logistiek</td>
                <td>Ad Zorg en Technologie</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </article>
  </body>
</html>
